        pushi 0
        pushi 0
start
        pushs "nnnnn?"
        writes
        read
        atoi
        storeg 0
        pushs "mmmmm?"
        writes
        read
        atoi
        storeg 1
        pushg 1
        pushg 0
        supeq
        jz amaior
        pushs "...e: "
        writes
        pushg 1
        writei
        jump fim
amaior: pushs "...e: "
        writes
        pushg 0
        writei
fim: stop
