		pushn 57	//a[19][3] (size 57)
start
		pushgp
		pushi 0	//puts on stack the address of a
		padd
						// +++ Matrix or Vector Dimension Start +++
		pushi 3
		pushi 3				//pushes column size of vector or matrix
		mul
		pushi 4
		add		//sums both dimensions
						// --- Matrix or Vector Dimension End ---
		pushi 15
		storen
		pushgp
		pushi 0	//puts on stack the address of a
		padd
						// +++ Matrix or Vector Dimension Start +++
		pushi 3
		pushi 3				//pushes column size of vector or matrix
		mul
		pushi 2
		add		//sums both dimensions
						// --- Matrix or Vector Dimension End ---
		pushi 40
		storen
		pushgp
		pushi 0	//puts on stack the address of a
		padd
						// +++ Matrix or Vector Dimension Start +++
		pushi 3
		pushi 3				//pushes column size of vector or matrix
		mul
		pushi 4
		add		//sums both dimensions
						// --- Matrix or Vector Dimension End ---
		pushgp
		pushi 0	//puts on stack the address of a
		padd
						// +++ Matrix or Vector Dimension Start +++
		pushi 3
		pushi 3				//pushes column size of vector or matrix
		mul
		pushi 2
		add		//sums both dimensions
						// --- Matrix or Vector Dimension End ---
		loadn 
		pushgp
		pushi 0	//puts on stack the address of a
		padd
						// +++ Matrix or Vector Dimension Start +++
		pushi 3
		pushi 3				//pushes column size of vector or matrix
		mul
		pushi 4
		add		//sums both dimensions
						// --- Matrix or Vector Dimension End ---
		loadn 
		add
		storen
		pushgp
		pushi 0	//puts on stack the address of a
		padd
						// +++ Matrix or Vector Dimension Start +++
		pushi 3
		pushi 3				//pushes column size of vector or matrix
		mul
		pushi 4
		add		//sums both dimensions
						// --- Matrix or Vector Dimension End ---
		loadn
		writei
		pushs " outro :"	//print string " outro :"
		writes
		pushgp
		pushi 0	//puts on stack the address of a
		padd
						// +++ Matrix or Vector Dimension Start +++
		pushi 3
		pushi 3				//pushes column size of vector or matrix
		mul
		pushi 2
		add		//sums both dimensions
						// --- Matrix or Vector Dimension End ---
		loadn
		writei
stop
