		pushi 0	//y
		pushi 0	//x
start
		pushs "x: "	//print string "x: "
		writes
		read
		atoi
		storeg 1	// store var x
		pushs "y: "	//print string "y: "
		writes
		read
		atoi
		storeg 0	// store var y
		pushs "maior: "	//print string "maior: "
		writes
conditional0:	 //if{
		pushg 1
		pushg 0
		sup	//relational superior
		jz inelse0
inthen0:
		pushs " x:"	//print string " x:"
		writes
		pushgp
		pushi 1
		padd
		pushi 0
		loadn
		writei
		jump outif0
inelse0:
		pushs " y:"	//print string " y:"
		writes
		pushgp
		pushi 0
		padd
		pushi 0
		loadn
		writei
outif0:
stop
